<h1>{{ruta.nombre}} <small> {{ruta.aparicion}}</small></h1>
<hr>
<div class="row animated fadeIn fast">


    <div class="col-md-8">
        <h3> Origen: {{ruta.origen}}</h3>
        <h3> Destino: {{ruta.destino}}</h3>
        <hr>
        <p>
            Precio: {{ruta.precio}}
        </p>
        <hr>
        <p>
            Descripcion: {{ruta.descripcion}}
        </p>
        <hr>
        <p>
            Tipo: {{ruta.tipo}}
        </p>
        <a href="rutas" class="btn btn-outline-danger btn.block">Regresar</a>

    </div>

</div>