<!DOCTYPE html>
<html>

<head>
    <style>
        h1,
        p {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <h1 class="animated fadeIn fast">CIFA EMPRESA DE TRANSPORTE</h1>
    <p>¡Viaja con comodidad y seguridad con nuestra empresa de transporte! Nos especializamos en brindar servicios de transporte confiables y eficientes para satisfacer todas tus necesidades de viaje. Ya sea que estés planeando un viaje de negocios o unas
        vacaciones familiares, contamos con una flota moderna y conductores profesionales que te llevarán a tu destino de manera puntual y sin contratiempos. Nos enorgullece ofrecer un excelente servicio al cliente, asegurándonos de que tu experiencia
        de viaje sea placentera y libre de preocupaciones. Confía en nosotros para que te llevemos a donde necesites ir, porque en nuestra empresa de transporte, tu satisfacción es nuestra prioridad.</p>

    <img src="assets/img/cifaa.jpg" alt="">
</body>

</html>